<div class="centered">
	<div class="aspect-wrapper">
		<div style="padding-bottom: 180.769%"></div>
		<div class="aspect-content">
			<style type="text/css">
			.championPortrait {
				width: 100%;
				height: 100%;
				background-clip: content-box, content-box;
				background-size: 100% 100%, 89.7435% 50.3%;
				background-repeat: no-repeat, no-repeat;
				background-position: 0 0, center 15.608%;
				background-origin: content-box, content-box;
			}
			</style>
			<div class="inline championPortrait" ng-style="{'background-image': 'url(assets/img/mastery_border' + mastery.championLevel + '.png), url(' + champ.imghref + ')'}">
			</div>
		</div>
	</div><br>
	<span>{{champ.name}}</span>
</div>
