<div class="">
	<h1 class="section-header">Upgrade Overview</h1>
	<h1 class="section-header">Kitchen Overview</h1>
	<table>
		<tr class="overviewRow" ng-repeat="(type, class) in Bakery.to_display.classes">
			<td class="icon" ng-style="{'background': 'url(' + class.icon_href + ')', 'background-position': -class.icon_y + ' ' + -class.icon_x}", 'background-size': '48px 48px'>
			</td>
			<td ng-repeat="champ in class.champions | orderBy:['-amount()','costs()']" ng-if="champ.display()">
				<div class="anchor icon">
					<div class="icon" ng-style="{'background': 'url(' + champ.imghref + ')', 'background-size': 'contain', 'opacity': champ.amount() ? '1' : '0.5'}" ng-class="{'glow': champ.can_buy()}">
					</div>
					<div ng-if="champ.amount() > 0" class="anchored-bot-right"><small>{{champ.amount() | prettyNumber}}</small>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>