<div class="inline centered">
	<style type="text/css">
	.championPortrait {
		background-clip: padding-box, content-box;
		background-size: contain, contain;
		background-repeat: no-repeat, no-repeat;
		width: 78px;
		height: 141px;
		padding: 11px 4px 60px;
		background-origin: padding-box, content-box;
	}
	</style>
	<div class="inline championPortrait" ng-style="{'background-image': 'url(assets/img/mastery_border' + mastery.championLevel + '.png), url(' + champ.imghref + ')'}">
	</div><br>
	<span>{{champ.name}}</span>
</div>
