<div>
	<div class="box horizontal" style="padding: 5px;">
		<div class="row filler splash" ng-style="{'background': 'url(' + champ.champion_skin() + ') center center/contain no-repeat'}">
		</div>
		<div class="row filler">
		</div>
		<div class="row content">
			<div>
				<span class="emphazise-header">{{champ.name}}</span><small>{{champ.description}}</small>
			</div>
			<table>
				<tr>
					<td>Attack</td><td>{{champ.base_attack}}</td>
					<td>Health</td><td>{{champ.base_hp}}</td>
				</tr>
				<tr>
					<td>Armor</td><td>{{champ.base_armor}}</td>
					<td>Magic resistance</td><td>{{champ.base_mr}}</td>
				</tr>
				</tr>
				</tr>
			</table>
			<div class="emphazise-header anchored-bot-right align-right">
				<button ng-click="champ.move_match()" ng-disabled="!champ.can_move_match()">+</button>
				<button ng-click="champ.move_bake()" ng-disabled="!champ.can_move_bake()">-</button><br>
				<span>Selected {{champ.amount_match() | prettyNumber}} / {{champ.amount() | prettyNumber}}</span>
			</div>
		</div>
	</div>
</div>
