<div ng-click="champ.buy()" ng-disabled="!champ.can_buy()">
	<div class="box horizontal" style="padding: 5px;">
		<div class="row filler splash" ng-style="{'background': 'url(' + champ.champion_skin() + ') center center/contain no-repeat'}">
		</div>
		<div class="row content">
			<div>
				<span class="emphazise-header">{{champ.name}}</span><small>{{champ.description}}</small>
			</div>
			<p><small style="padding-left: 2em">[+{{champ.base_production | prettyNumber:2}} / second] resulting currently in a production of {{champ.totalpps()}} pasteries per second</small></p>
			<p><small style="padding-left: 1em" ng-style="{'color': (champ.costs() > Bakery.state.pastries) ? 'var(--error)' : 'inherit'}" class="costs">{{champ.costs() | prettyNumber}}</small></p>
			<div class="emphazise-header anchored-bot-right">{{champ.amount() | prettyNumber}}
			</div>
		</div>
	</div>
</div>