<div class="box horizontal">
	<div class="row filler" style="width: 100px;">
		<button ng-click="Menu.openMenu('options')">Options</button><br>
		<button ng-click="Menu.openMenu('mastery')">Mastery</button>
	</div>
	<div class="row content box horizontal">
		<div class="row filler inline" id="pastries" style="width: 100px;"><span ng-cloak>Pastries: {{(Bakery.state.pastries || 0) | prettyNumber}}</span></div>
		<div class="row content anchor">
			<div class="aspect-wrapper" id="logo-wrapper">
				<div style="padding-bottom: 50%"></div>
				<div class="aspect-content" id="logo" ng-click="Bakery.manual_bake($event)">
				</div>
			</div>
		</div>
		<div class="row filler inline" id="pps" style="width: 100px;"><span ng-cloak>Pastry production: {{Bakery.pastries_per_second() | prettyNumber:2}}</span></div>
	</div>
	<div class="row filler" style="width: 100px;">
		<button ng-click="Menu.openMenu('stats')">Stats</button><br>
		<button ng-click="Menu.openMenu('info')">Info</button>
	</div>
</div>