<div class="box fill-parent">
	<div id="bakery-header" class="centered-shrink row header">
		<button type="button" id="fresh" ng-hide="Bakery.started">Fresh start</button>
		<button type="button" id="load" ng-disabled="!Bakery.canLoad()">Load</button>
		<button type="button" id="save" ng-disabled="!Bakery.started">Save</button>
		<button type="button" id="bake" ng-click="Bakery.manual_bake()">Bake</button>
		<button type="button" id="reset">Reset</button>
		<button type="button" id="delete">Delete game data</button>
		<div class="entry-text" id="pastries">Pastries: <span ng-cloak>{{Bakery.format(Bakery.state.pastries || 0)}}</span></div>
		<div class="entry-text" id="pps">Pastry production: <span ng-cloak>{{Bakery.format(Bakery.pastries_per_second())}}</span></div>
		<button ng-click="Menu.openMenu('champions')">View champions</button>
		<button ng-click="Menu.openMenu('mastery')">Update mastery data</button>
		<button ng-click="Menu.openMenu('')">Close Menu</button>
	</div>
	<div id="bakery-main" class="row content anchor">
		<div class="view-aligned-flex">
			<div id="menu1" class="row content">
			text
			</div>
			<div id="menu2" class="row content">
			more text
			</div>
		</div>
		<div id="bakery-menu" class="anchored-bot centered-shrink" ng-hide="Menu.menuPath == ''" style="background-color: red;">
			<ng-include src="Menu.menuPath">
			</ng-include>
		</div>
	</div>
</div>
