<div>
	<h1 class="section-header">Mastery Panel</h1>
	<div>
		<span>You get boni on champions you achieved champion mastery with.</span>
	</div>
	<div class="inline-to-right">
		<input type="text" id='select-name' placeholder='Your summoner name' ng-model='mastery_name' ng-default=""></input>
		<select id='select-region' ng-model='mastery_region'
			ng-options="region.name for region in Bakery.data.regions track by region.id"></select>
		<button ng-click='Bakery.refresh_mastery(mastery_name, mastery_region.id)'>Refresh Mastery</button>
	</div>
	<div class="ruler"></div>
	<div ng-if="Bakery.state.mastery.data.length">
		<span>Found the following champion mastery data (only displaying champions used in the game):</span><br>
		<div class="inline champion-mastery" ng-repeat="mastery in Bakery.state.mastery.data | orderBy:'-championPoints' track by $index" ng-init="champ=Bakery.data.champions.byNbr[mastery.championId];''" ng-if="Bakery.data.champions.byNbr[mastery.championId]">
			<ng-include src="'app/components/game/championPortraitFull.htm'">
			</ng-include>
		</div>
	</div>
	<div ng-if="!Bakery.state.mastery.data.length && !Bakery.state.mastery.last_refreshed">
		<span>Refresh your masteries to see any updates.</span>
	</div>
	<div ng-if="!Bakery.state.mastery.data.length && Bakery.state.mastery.last_refreshed">
		<span>Found no champion masteries. You should play more!</span>
	</div>
</div>
