<div>
	<h1 class="section-header">Mastery Panel</h1>
	<div>
		<input type="text" id='select-name' placeholder='Your summoner name' ng-model='mastery_name' ng-default=""></input>
		<select id='select-region' ng-model='mastery_region'
			ng-options="region.name for region in Bakery.data.regions track by region.id"></select>
		<button ng-click='Bakery.refresh_mastery(mastery_name, mastery_region.id)'>Refresh Mastery</button>
	</div>
	<div>
		<div class="inline" ng-repeat="mastery in Bakery.state.mastery.data | orderBy:'-championPoints' track by $index" ng-init="{{champ=Bakery.data.champions.byNbr[mastery.championId];''}}" ng-if="Bakery.data.champions.byNbr[mastery.championId]">
			{{mastery}}{{champ}}
		</div>
	</div>
</div>
