<div>
	<h1 class="section-header">Match</h1>
	<div id="match-fight">
		<div ng-show="Bakery.show_fight()">
			<div class="box" style="width: 100%; float: left">
				<div style="float: left; width: 45%;">
					<h2 class="section-header">Your team</h2>
					<div ng-repeat="champ in Bakery.state.match.fight.friendlies" style="text-align: left">
						<div ng-style="{ 'width': champ.hp/champ.max_hp*100 + '%' }" style="background-color: #00F000">
							{{champ.champ_id}}
						</div>
					</div>
				</div>
				<div style="float: right; width: 45%;">
					<h2 class="section-header">Enemy team</h2>
					<div ng-repeat="enemy in Bakery.state.match.fight.enemies" style="text-align: right;">
						<div ng-style="{'width': enemy.hp/enemy.max_hp*100 + '%'}" style="background-color: #00F000">
							{{enemy.name}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="Bakery.show_reward()">
			Your reward is {{Bakery.state.match.reward}}, click button to collect
			<button ng-click="Bakery.collect_rewards()">Collect game rewards</button>
		</div>
		<div ng-show="Bakery.show_start_fight()">
			<h2 class="section-header">Select a lane to fight</h2>
			<button ng-click="lane.start_fight()" ng-repeat="lane in Bakery.to_display.lanes" ng-enable="lane.can_fight()">Fight for {{lane.name}}</button>
		</div>
		<div ng-show="Bakery.show_start_match()">
			<h2 class="section-header">Search for another match</h2>
			<button ng-click="Bakery.start_match()">Play</button>
		</div>
	</div>
	<div id="match-info">
		<div id="match-champions">
			<h2 class="section-header">Champions picked for match</h2>
			<div class="wrap-floating">
				<div class="vertical-tab-selection" ng-init="view_tab = 'tank'">
					<div ng-repeat="(type, class) in Bakery.to_display.classes" ng-class="{'active': view_tab == type}" ng-click="$parent.view_tab = type" class="tab-item">
						<div class="icon" ng-style="{'background': 'url(' + class.icon_href + ')', 'background-position': -class.icon_y + ' ' + -class.icon_x}", 'background-size': '48px 48px'></div>
					</div>
				</div>
				<div class="vertical-tab-content">
					<div ng-repeat="(type, class) in Bakery.to_display.classes" ng-show="view_tab == type">
						<h2 class="small-section-header">{{class.name}} champions:<span style="font-size: small;">{{class.descr}}</span></h2>
						<ng-include ng-repeat="champ in class.champions" src="'app/components/game/championMatch.htm'" ng-if="champ.amount() > 0">
						</ng-include>
						<div ng-if="!class.champions.length"><span>No champion of this class is currently working for you. Try another one</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="match-items">
			<h2 class="section-header">Items</h2>
			<div>
				<div ng-repeat="item in Bakery.to_display.items">
					{{item}}
				</div>
			</div>
		</div>
	</div>
</div>
