<div style="background: url('assets/img/map11.png'); background-size: cover; width: 100%; position: relative; display: inline-block" class="anchor">
	<div style="padding-top: 100%;"></div>
	<img src="assets/img/tower.png" style="right: 67%; top: 5%;" 
			class="img-tower" ng-hide="Bakery.state.match.lanes.top > 0" ng-click="!allow_start || Bakery.start_fight('top')"></img>
	<img src="assets/img/tower.png" style="right: 44%; top: 5%;" 
			class="img-tower" ng-hide="Bakery.state.match.lanes.top > 1" ng-click="!allow_start || Bakery.start_fight('top')"></img>
	<img src="assets/img/tower.png" style="right: 26%; top: 5%;" 
			class="img-tower" ng-hide="Bakery.state.match.lanes.top > 2" ng-click="!allow_start || Bakery.start_fight('top')"></img>
	<img src="assets/img/tower.png" style="right: 42%; top: 43%;" 
			class="img-tower" ng-hide="Bakery.state.match.lanes.mid > 0" ng-click="!allow_start || Bakery.start_fight('mid')"></img>
	<img src="assets/img/tower.png" style="right: 32%; top: 33%;" 
			class="img-tower" ng-hide="Bakery.state.match.lanes.mid > 1" ng-click="!allow_start || Bakery.start_fight('mid')"></img>
	<img src="assets/img/tower.png" style="right: 5.2%; top: 67%;" 
			class="img-tower" ng-hide="Bakery.state.match.lanes.bot > 0" ng-click="!allow_start || Bakery.start_fight('bot')"></img>
	<img src="assets/img/tower.png" style="right: 5.2%; top: 44%;" 
			class="img-tower" ng-hide="Bakery.state.match.lanes.bot > 1" ng-click="!allow_start || Bakery.start_fight('bot')"></img>
	<img src="assets/img/inhibitor.png" style="right: 21%; top: 5%;" 
			class="img-tower" ng-hide="Bakery.state.match.lanes.top > 3" ng-click="!allow_start || Bakery.start_fight('top')"></img>
	<img src="assets/img/inhibitor.png" style="right: 16.7%; top: 17.4%;" 
			class="img-tower" ng-hide="Bakery.state.match.lanes.mid > 3" ng-click="!allow_start || Bakery.start_fight('mid')"></img>
	<img src="assets/img/inhibitor.png" style="right: 5.2%; top: 21%;" 
			class="img-tower" ng-hide="Bakery.state.match.lanes.bot > 3" ng-click="!allow_start || Bakery.start_fight('bot')"></img>
	<img src="assets/img/tower.png" style="right: 20%; top: 21%;" 
			class="img-tower" ng-hide="Bakery.state.match.lanes.mid > 2" ng-click="!allow_start || Bakery.start_fight('mid')"></img>
	<img src="assets/img/tower.png" style="right: 5.2%; top: 26%;" 
			class="img-tower" ng-hide="Bakery.state.match.lanes.bot > 2" ng-click="!allow_start || Bakery.start_fight('bot')"></img>

	<img src="assets/img/nexus.png" style="right: 5.5%; top: 5.5%;" 
			class="img-tower" ng-hide="Bakery.state.match.lanes.base > 2" ng-click="!allow_start || Bakery.start_fight('base')"></img>
	<img src="assets/img/tower.png" style="right: 10%; top: 6%;" 
			class="img-tower" ng-hide="Bakery.state.match.lanes.base > 0" ng-click="!allow_start || Bakery.start_fight('base')"></img>
	<img src="assets/img/tower.png" style="right: 6.6%; top: 10%;" 
			class="img-tower" ng-hide="Bakery.state.match.lanes.base > 1" ng-click="!allow_start || Bakery.start_fight('base')"></img>
</div>
