<div>
	<div id="match-champions" ng-show="Bakery.show_start_match()">
		<h2 class="section-header">Champions pick phase</h2>
		<div style="text-align: center">Champions in a match will earn experience every second but won't produce as much pastries</div>
		<div class="wrap-floating" ng-scope>
			<div class="vertical-tab-selection" ng-init="view_tab = 'tank'">
				<div ng-repeat="(type, class) in Bakery.to_display.classes" ng-class="{'active': view_tab == type}" ng-click="$parent.view_tab = type" class="tab-item">
					<div class="icon" ng-style="{'background': 'url(' + class.icon_href + ')', 'background-position': -class.icon_y + ' ' + -class.icon_x}", 'background-size': '48px 48px'></div>
					<div>{{class.amount_match()}} / {{class.amount()}}</div>
				</div>
			</div>
			<div class="vertical-tab-content">
				<div ng-repeat="(type, class) in Bakery.to_display.classes" ng-show="view_tab == type">
					<h2 class="small-section-header">{{class.name}} champions:</h2>
					<div>
						<div class="repeat-anchor"></div>
						<ng-include ng-repeat="champ in class.champions" src="'app/components/game/championMatch.htm'" ng-if="champ.amount() > 0">
						</ng-include>
						<div class="repeat-fallback"><span>No champion of this class is currently working for you. Try another one</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="align-right"><button ng-click="Bakery.start_match()">Lock in and play</button></div>
	</div>
	<div id="match-in-game" style="width: 100%; height: 80%; position: relative" ng-show="Bakery.show_cancel_match()">
		<div ng-show="Bakery.show_fight()">
			<ng-include src="'app/components/game/ingameFight.htm'">
			</ng-include>
		</div>
		<div class="centered-shrink" ng-show="Bakery.show_start_fight()" style="width: 50%">
			<h2 class="section-header">Select a lane to fight</h2>
			<ng-include src="'app/components/game/matchMap.htm'" ng-init="allow_start=true"></ng-include>
		</div>
		<div class="centered">
			<button ng-click="Bakery.end_fight()" ng-if="Bakery.show_end_fight()">Cancel current fight</button>
			<button ng-click="Bakery.cancel_match()">Cancel current match</button>
		</div>
	</div>
	<div ng-show="Bakery.show_reward()">
		<h2 class="section-header">Rewards for your last game</h2>
		<div style="text-align: center" class="costs">Your reward is {{Bakery.state.match.rewards.pastries}}</div>
		<button ng-click="Bakery.collect_rewards()">Collect game rewards</button>
		<div style="text-align: center">You are also promoted</div>
	</div>
	
</div>
