<div ng-click="upgrade.buy()" ng-disabled="!upgrade.can_buy()">
	<div class="box horizontal" style="padding: 5px;">
		<div class="row filler splash" ng-style="{'background': 'url(' + upgrade.imghref() + ') center center/contain no-repeat'}">
		</div>
		<div class="row content">
			<div>
				<span class="emphazise-header">{{upgrade.name}}</span>
			</div>
			<p><small style="padding-left: 2em">{{upgrade.description}}</small></p>
			<p><small style="padding-left: 1em" ng-style="{'color': (upgrade.costs() > Bakery.state.pastries) ? 'var(--error)' : 'inherit'}" class="costs">{{upgrade.costs() | prettyNumber}}</small></p>
		</div>
	</div>
</div>