html, body {
  height: 100%;
  margin: 0;
  font-family: 'Lato';
  color: whitesmoke;
  --super-dark: rgb(3, 8, 10);
  --dark: rgb(7, 16, 21);
  --moody-dark: rgb(21, 44, 52);
  --light-dark: rgb(42, 88, 104);
  --bright: rgb(140, 227, 255);
  --error: #f03;
}

#page-header {
  background-color: #ccc;
}

#page-footer {
  text-align: center;
  background-color: #ccc;
  max-height: 3.3em;
  padding-right: 17px;
  overflow-y: auto;
}

#bakery-menu {
  width: 80%;
  height: 80%;
  z-index: 2;
}

#game {
  z-index: 9999;
  background:  url(//euw.leagueoflegends.com/profiles/lol2_profile/themes/custom/lolt/img/lol_news_new_bg.jpg);
  background-size: cover;
  background-position: center center;
}

.headline {
  font-family: 'Merriweather';
}

h1, .section-header {
  font-family: 'Merriweather';
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
}

h2, .small-section-header {
  font-family: 'Merriweather';
  font-size: 1.3em;
  font-weight: bold;
  text-align: left;
}

h3, .emphazise-header {
  font-family: 'Merriweather';
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  padding: 0 5px 0;
}

.sheet {
  border: 3px solid transparent;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(to bottom, var(--moody-dark), var(--dark));
  background-clip: padding-box;
  padding: 10px;
  position: relative;
  box-shadow: 0 0 3px 0 black;
}

.sheet::after {
  top: -3px; bottom: -3px;
  left: -3px; right: -3px;
  background: linear-gradient(to bottom, var(--bright), var(--moody-dark) 35%);
  content: '';
  border-radius: 7px 7px 0 0;
  position: absolute;
  z-index: -1;
}

.ruler {
  border-color: var(--light-dark) !important;
}

.section-header::before, .section-header::after {
  background: linear-gradient(to right, rgba(255,0,0,0) 0%, rgba(255,0,0,0) 20%, var(--light-dark) 40%, var(--light-dark) 60%, rgba(255,0,0,0) 80%, rgba(255,0,0,0) 100%);
}

.small-section-header::after {
  background: linear-gradient(to right, var(--light-dark), var(--light-dark) 20%, rgba(255,0,0,0) 40%, rgba(255,0,0,0) 100%);
}


div[ng-click]:hover:not([disabled]), ng-include[ng-click]:hover:not([disabled]) {
  background: rgba(255, 255, 255, 0.05);
}

.tab-item.active {
  background: rgba(255, 255, 255, 0.2);
}

.icon {
  height: 48px;
  width: 48px;
  display: inline-block;
}

.splash {
  display: inline-block;
  width: 3em;
}

.costs[currency]::after {
  content: " " attr(currency);
}

.costs:not([currency])::after {
  content: " pastries";
}

.overviewRow {
  height: 3em;
  margin: 5px 0;
  overflow: hidden;
}

tr.overviewRow > td {
  white-space: nowrap;
}

