html, body {
  height: 100%;
  margin: 0;
  font-family: 'Lato';
}

#page-header {
  background-color: #ccc;
}

#page-footer {
  text-align: center;
  background-color: #ccc;
  max-height: 3.3em;
}

#bakery-menu {
  width: 80%;
  height: 80%;
}

#game {
}

.headline {
  font-family: 'Merriweather';
}
