* {
  box-sizing: border-box;
}

.box {
  display: flex;
}
.box:not(.horizontal) {
  flex-flow: column;
}
.box.horizontal {
  flex-flow: row;
}

.wrap-content {
  display: table;
}

.view-aligned-flex {
  display: flex;
  height: 100%;
  width: 100%;
}

.row {
  min-width: 0;
  min-height: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.row.filler {
  flex: 0 0 auto;
}

.row.content {
  position: relative;
  flex: 1 1 auto;
}

.equal-flex {
  position: relative;
  flex-basis: 100%;
}

.fill-parent {
  width: auto;
  height: 100%;
}

.centered-shrink {
  margin: 0 auto;
}

.shrink-to-fit {
  display: table;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
}

.letter-boxed {
  object-fit: contain;
  height: 100%;
  width: 100%;
  object-position: top;
}

.anchor {
  position: relative;
}

.anchored {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.anchored-bot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.anchored-bot-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.anchored-bot-left {
 position: absolute;
 bottom: 0;
 left: 0;
}

.ruler {
  flex: 0 0 0;
  border-left: 1px solid;
  border-top: 1px solid;
  border-radius: 1px;
  margin: 10px;
}

.section-header::before, .section-header::after, .small-section-header::after {
  content: '';
  display: block;
  height: 1px;
  margin: 6px 0px;
}

.vertical-tab-selection {
  float: left;
  padding-left: 10px;
}

.vertical-tab-content {
  padding-left: 10px;
  width:auto;
  overflow:hidden;
}

.tab-item {
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.wrap-floating {
  overflow-y: hidden;
}

.scrollable-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.inline {
  display: inline-block;
}

.inline-top {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.inline-to-right {
  text-align: right;
}

.centered {
  text-align: center;
}

.aspect-wrapper {
  position: relative;
}

.aspect-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.particle {
  position: fixed;
  z-index: 100;
}

.unclickable {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.glow {
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#fff')";
  filter: url(shadow.svg#drop-shadow);
  -webkit-filter: drop-shadow(0px 0px 3px rgba(255,255,255,0.5));
  filter: drop-shadow(0px 0px 3px rgba(255,255,255,0.5));
}

.repeat-anchor, .repeat-fallback {
  display: none;
}
.repeat-anchor + .repeat-fallback {
  display: initial;
}
