.box {
  display: flex;
  flex-flow: column;
}

.box > .row {
  min-width: 0;
  min-height: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.box > .row.header {
  flex: 0 0 auto;
}

.box > .row.content {
  flex: 1 1 auto;
}

.box > .row.footer {
  flex: 0 0 auto;
}

.fill-parent {
  height: 100%;
}

.centered-shrink {
  margin: 0 auto;
}

.shrink-to-fit {
  display: table;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
}

.letter-boxed {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.anchor {
  position: relative;
}

.anchored {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.anchored-bot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
